version: '3'

services:

    backend:
        container_name: backend
        build: ./backend
        tty: true
        ports:
            - '8000:8000'
        volumes:
            - ./backend:/code
        # command: python manage.py runserver 0.0.0.0:8000

        